# Ignore the output binary & build directories
bin/
build/

# Ignore our dataset
src/resources/

# Ignore the csv's produced with each successful run
/[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9].csv

# DS_Store files are relevant only to the Mac they were created on, and shouldn't be stored in the repo.
.DS_Store

# Extra file & folders to ignore...
# Cached files used by Gradle
.gradle/
# Contents are only relevent to the specific machine which created them
.vscode/
# JCM dependencies
.jcm-deps.gradle